{% extends 'master.html' %}

{% block title %}
    TADA - About Us
{% endblock %}

{% block style %}
{% endblock %}

{% load static %}

{% block content %}
    <img src="{% static 'images/br1.png' %}" alt="cool line break" class="line-break">
    <h1>About Us</h1>
    <p style="width: min(400px, 80%); margin: auto;">
        Welcome to my first (second, actually) Django project! 
        My name is Oliver. This is a talent acquisition database 
        application (TADA!) that tracks candidates, processes 
        candidate intake forms or questionnaires, and provides 
        admin tools for sorting and filtering candidates. This 
        project is for Full Bore Studios, and is shared with my 
        scrum team members: Melvin De La Pena, Jonathan Kellhofer, 
        and Brayden Wampler.
    </p>
{% endblock %}
