{% extends 'master.html' %}

{% block title %}{{ selected_company.title }} Dashboard
{% endblock %}

{% load static %}

{% block content %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <img src="{% static 'images/br3.png' %}" alt="cool line break" class="line-break">
    <h2>{{ selected_company.title }} Dashboard
        {% if is_super %} - Superuser
        {% elif is_admin %} - Admin
        {% elif is_staff %} - Staff
        {% endif %}
    </h2>

    {% if is_staff %}
        {% include 'dash/company_selector.html' %}

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            {% include 'dash/job_postings.html' %}
            {% include 'dash/submissions.html' %}
            {% include 'dash/candidates_list.html' %}
        </div>
    {% endif %}

    {% if is_candidate %}
        {% if is_staff %}
        <img src="{% static 'images/br3.png' %}" alt="cool line break" class="line-break">
        <h2>Candidate Dashboard</h2>
        {% endif %}

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            {% include 'dash/my_applications.html' %}
        </div>
    {% endif %}

    <img src="{% static 'images/br1.png' %}" alt="cool line break" class="line-break">

    <script>
        document.querySelectorAll('.grid').forEach(function(grid) {
            if (grid.querySelectorAll('.card').length > 1) {
                new Masonry(grid, {
                    itemSelector: '.card',
                    columnWidth: '.grid-sizer',
                    gutter: '.gutter-sizer',
                    percentPosition: true,
                });
            }
        });
    </script>
{% endblock %}
