{% extends 'master.html' %}

{% block title %}
  TADA - Home
{% endblock %}

{% block style %}
nav {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 20px;
}
{% endblock %}

{% block content %}
<nav>
    <ul>
      <li><a href='/home/'>Home 2.0</a></li>
      <li><a href='/about/'>About</a></li>
      <li><a href='/login/'>Login</a></li>
    </ul>
</nav>

<h1>Welcome to TADA!</h1>

<h3><a href="/candidates/">Candidates</a></h3>

<h3><a href="/application/">Apply for job!</a></h3>
{% endblock %}
