<!-- This page is basically an HTML template that other pages extend -->
<!-- "title" and "content" are blocks that other pages can override -->
{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
    <img src="{% static 'images/TADA.png' %}" style="width: 100px; float: left; margin: 100px;">
    
    {% block content %}
    {% endblock %}

    </body>
</html>