{% extends 'master.html' %}

{% block title %}TADA - Admin Dashboard{% endblock %}

{% block style %}{% endblock %}

{% load static %}

{% block content %}
    <img src="{% static 'images/br2.png' %}" alt="cool line break" class="line-break">
    <h2>Admin Dashboard — {{ selected_company.title }}</h2>

    {% include 'dash-components/company_selector.html' %}
    {% include 'dash-components/job_postings.html' %}
    {% include 'dash-components/submissions.html' %}
    {% if is_candidate %}
    <img src="{% static 'images/br3.png' %}" alt="cool line break" class="line-break">
    <h2>Candidate Dashboard</h2>
    <p>Welcome to your dashboard! Here you can view your applications and manage your profile.</p>

    {% include 'dash-components/my_applications.html' %}
    {% endif %}
    <img src="{% static 'images/br1.png' %}" alt="cool line break" class="line-break">
{% endblock %}
