{% extends 'master.html' %}

{% block title %}
    TADA - Candidate Details
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row-1">
                {{ mycandidate.first_name }} {{ mycandidate.last_name }}
            </div>
        </div>
        <div class="list-group">
            <li class="list-group-item">Email: {{ mycandidate.email }}</li>
            <li class="list-group-item">Phone: {{ mycandidate.phone }}</li>
            <li class="list-group-item">LinkedIn: {{ mycandidate.linkedin_url }}</li>
            <li class="list-group-item">Bio: {{ mycandidate.bio }}</li>
        </div>
    </div>
    <p>
        Back to <a href="{% url 'dashboard' %}">Staff Dashboard</a>
    </p>
{% endblock %}
