<div class="card">
    <div class="card-header">
        <span class="row-1">My Applications</span>
    </div>
    <div class="list-group">
        {% for application in my_applications %}
        <div class="list-group-item">
            <h5>{{ application.position.title }}</h5>
            <p>Status: {{ application.get_status_display }}</p>
            <p>{{ application.position.company.title }}</p>
            <div><a href="{% url 'submission_detail' application.id %}">View Details</a></div>
        </div>
        {% empty %}
        <div class="list-group-item">You have not applied to any jobs yet.</div>
        {% endfor %}
    </div>
</div>
